@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fff;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
}

.container-default {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
